@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
a{
    text-decoration: none;
}

section{
    height: 100vh;
     width:100% ;
    /* background:lightblue; */
    padding: 8% 8%;
    margin-bottom: 100px;
    overflow: hidden;
    
}
.header{
    display: flex;
    flex-direction: column;
   
}
.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 50%;
    width: 20%;
    flex: 0
}
nav{
    /* flex: 1 1 auto; */
}
nav ul{
    list-style: none;
    text-align: right;
}
nav ul li{
    display: inline-block;
   
}
nav ul li a {
    color: black;
    font-weight: 600;
    position: relative;
    margin-right: 10px;
}
nav ul li a::before{
    content: "";
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translatex(-50%);
    height: 5px;
    width: 0%;
    border-radius: 3px;
    background: #f6094d;
    transition-property: width;
    transition-timing-function: ease;
    transition-duration: .5s;
}
nav ul li:hover a::before{
width: 100%;
}
.navbar-icon{
   
}
.navbar-icon img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.hero{
    /* background: lightgray; */
    margin-top: 60px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.col-left{
    width: 50%;
    height: 100%;
  /* background:lightgreen; */
  display: flex;
  flex-direction:column ;
  /* flex-grow: 1; */
  justify-content: center;
  /* align-items: center; */
}
.col-left .search {
    display: flex;
    align-items: center;
   
}
.col-left .search input[type="text"]{
    height: 34px;
    width: 50%;
   border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding: 0;
    margin: 0;
    background:transparent;
    /* border-left: none;
    border-radius:0 20px 20px 0; */
}
.search img{
    height: 34px;
    border-bottom: 1px solid gray;
 
}
.col-left h1{
    font-weight: 800;
    font-size: 85px;
    letter-spacing: 4px;
    margin-top: 23px;
}
.col-left h2{
    font-weight: 700;
    font-size: 34px;
}
.col-left p{
   
    line-height: 22.652px;
    margin: 23px 0;
    
}
.col-left h4{
    margin-bottom: 23px; 
}
.col-left h4 strong{
    font-weight: 700;
}
.col-right{
    /* background:lightsalmon; */
    width: 50%;
    height: 100%;
    /* background-image: url(./img/Fruitopia-img/img/feature.png);
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat; */
    text-align: center;
}
.col-right img{
    width: 80%;
}

.color-text-h1{
    color: #f6094d;
    font-size: 85px;
    font-weight: 800;
   
}
.color-text-h2{
    color: #f6094d;
    font-size: 34px;
    font-weight: 700;
}
.btn button{
    padding: 5px 17px;
    border-radius: 20px;
    border:1px solid #f6094d;
    outline: none;
    margin-left: 13px;
    cursor: pointer;
}
.btn button:nth-child(1){
    background:#f6094d;
    color: white;
}
.btn button:nth-child(2){
    background:transparent;
   
    color:#f6094d;
}
.social-network{
    margin-top: 23px;
}
.social-network .line-social{
    display: inline-block;
    height: 3px;
    width: 50%;
    background:black;

    opacity: 50%;
}
.social-network img{
    height: 14px;
    /* width: 24px; */
    opacity:50%;
    margin: 0 5px;
}
.product{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .col-left{
    width: 50%;
}
.product .col-right{
    width: 50%;
   
    border-radius: 30px;
    position: relative;
   display: flex;
   align-items: center;
   text-align: center;
    /* align-items: center;
    justify-content: center; */
    /* display: flex;
    align-items: center; */
}
.product .color-box{
    position: absolute;
    top:0;
    right: -50%;
    width: 100%;
    height: 100%;
    z-index: -1;   
     background: linear-gradient(to right,#f6094d, #ea4c79 );
}
.product .col-right img{
   
    width: 70%;
    /* height: 90%; */
    
    /*
    transform: translateX(-50%); */
}
.product .col-right .add{
text-align: center;

}
.product .col-right .add img{
   margin-bottom: 30px;
    width: 64px;
    /* position: absolute;
    top: 0;
    left: 50%; */
}
.product .col-right .add p{
    color: white;
}

